$color-bg: #fff6f8; // sida bakgrund
$color-text: #b81e3b; // mörk rosa, accent
$color-accent: #fefefe; // mjuk beige för sektioner/kort
$max-width: 1200px;

$font-main: 'Arial', sans-serif;

$padding-section: 2.8rem; /* increased for airier layout */
$border-radius: 10px;
