$heading1: 26px;
$heading2: 18px;

$paragraph: 16px;

$primary-text-color: black;
$secondary-text-color: rgb(43, 43, 43);

$event-heading-text-color: #b81e3b;
$button-color: #b81e3b;
$border-button-color: #9c8697;

$hover-button-color: #ff8d8d;
$hover-border-button-color: #000000;

$primary-font-weight: 600;
$secondary-font-weight: 400;
$bold: 800;
