@use 'variables' as *;
@use 'mixins';
@import url(/components/components.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nato Sans", sans-serif;
}

.bodyContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.mainContainer {
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'bookTitle'
    'books'
    'eventTitle'
    'events';
    grid-gap: 25px;
    text-align: center;
}

 .bookSectionTitle {
    grid-area: bookTitle;
    font-size: $heading1;
    font-weight: bold;
}

.bookSection {
    grid-area: books;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px;

   

    article {
        border-radius: 15px;
        border: 0.1rem solid rgba(128, 128, 128, 0.158);

        img {
            display: block;
            margin: 0 auto;
            max-height: 80%;
            max-width: 100%;
            min-width: 100%;
            border-top-left-radius: 13px;
            border-top-right-radius: 13px;
            z-index: -1;
        }

        h2 {
            font-size: $heading1;
            font-weight: $primary-font-weight;
            color: $primary-text-color;
        }

        p {
            font-size: $paragraph;
            color: $secondary-text-color;
            font-weight: $secondary-font-weight;
        }
    }
}

.eventSectionTitle {
    grid-area: eventTitle;
    font-size: $heading1;
    font-weight: bold;
}

.eventSection {
    grid-area: events;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 45px;

    

    article {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: baseline;
        border-radius: 15px;
        padding: 15px;
        gap: 10px;
        border: 0.1rem solid rgba(128, 128, 128, 0.158);

        h2 {
            color: $event-heading-text-color;
            font-size: $heading2;
            font-weight: bold;
        }

        p {
            color: $secondary-text-color;
            font-weight: $secondary-font-weight;
            a {
                text-decoration: none;
                color: $secondary-text-color;

            }
        }

        .eventDate {
            margin-bottom: 15px;
        }

        .eventDesc {
            margin-bottom: 15px;
            font-weight: 500;
            font-size: 16px;
            color: $primary-text-color;
        }

        .eventLocation {
            margin: 10px 0;
        }
        
        button {
            @include mixins.button();
        }

        button:hover {
            @include mixins.button-hover();
        }
    }
}

.footer {
    grid-area: footer;
}

@media (max-width: 800px) {
    .eventSection {
        height: auto;
        width: auto;
    }

    .bookSection {
        height: auto;
        width: auto;
    }
}