:root {
    --brand-color: rgba(255, 40, 2, 0.63);
    --secondary-color: rgb(255, 255, 255);
    --text-color: black;
    
    --border-color: rgba(92, 92, 92, 0.322);
    --bg-color: white;
    --second-bg-color: rgba(255, 255, 255, 0.836);

    --heading1: 36px;
    --heading2: 28px;
    --paragraph: 16px;
    --heading2-color: rgb(124, 124, 124);
}

* {
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
}

.mainContainer {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookSectionTitle {
    font-size: var(--heading1);
    font-weight: 600;
    text-transform: uppercase;
    margin: 25px 0;
}

.bookSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.bookCard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-items: center;
    background-color: var(--second-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 60px;
    width: 380px;
    height: 700px;
    margin-bottom: 35px;
}

.bookImage {
    width: 100%;
    height: 80%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.bookTitle {
    font-size: var(--heading2);
    font-weight: 600;
}

.bookDesc {
    font-size: var(--paragraph);
    color: var(--heading2-color);
    font-weight: 400;
    text-align: center;
    padding: 10px;
}

@media (max-width: 850px) {
    .mainContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .bookSectionTitle {
        
    }

    .bookSection {
        
    }
}       